@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Poppins:wght@600&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

.body-bg {
    
    background-image: url('/image/bg.jpg');
    background-size: cover;
    background-position: center;
}